* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  overflow-x: hidden;
  background: linear-gradient(to bottom, #0000008f, #ffdc16, #FF7315, red) !important; }

html {
  font-size: 62.5%;
  font-family: "Varela Round"; }

footer img {
  width: 10vw !important; }

h1,
h2 {
  background-color: rgba(156, 156, 156, 0.712);
  font-size: 1rem;
  font-family: "Varela Round";
  border-radius: 18px;
  box-shadow: -10px 10px 18px rgba(0, 0, 0, 0.542);
  padding: 5px;
  margin: 5vh !important;
  margin-top: 51px; }

iframe {
  width: 50vw;
  height: 30vw; }

@media screen and (max-width: 768px) {
  .navegador {
    justify-content: center;
    align-items: center; }
  .nav {
    justify-content: center !important; }
  li a {
    padding: 2vw !important;
    font-size: 2.5rem !important; }
  .div__ofertas {
    flex-direction: column; }
  ul {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important; }
  footer img {
    width: 15vw !important; }
  .navegador {
    display: flex;
    flex-direction: row;
    list-style: none; }
  .nav {
    display: flex;
    justify-content: end; }
  .tabla {
    font-size: 3vw; }
  .parrafo #parrafo {
    font-size: 5vw !important;
    margin: 10x !important;
    text-align: center; }
  .parrafo h1 {
    font-size: 5vw !important;
    text-align: center; }
  p img {
    width: 100%; } }

@media screen and (max-width: 578px) {
  h1,
  p,
  #h2 {
    font-size: 8vw !important;
    text-align: center; }
  #img {
    width: 100% !important;
    height: 100% !important; }
  iframe {
    width: 100% !important;
    height: 100% !important;
    padding-bottom: 5vw; }
  #producto {
    flex-direction: column; }
    #producto img {
      width: 100% !important; }
  .tabla {
    font-size: 3.9vw; }
  #boton {
    font-size: 9vw !important; }
  .parrafo #parrafo {
    font-size: 8vw !important;
    margin: 10px !important;
    text-align: center; }
  .parrafo h1 {
    font-size: 10vw !important;
    text-align: center; } }

li a {
  text-decoration: none;
  font-size: 2rem;
  color: aliceblue;
  border-radius: 20%;
  font-family: "Varela Round", sans-serif; }
  li a:hover {
    color: black;
    background-color: #FF7315; }

.logo {
  height: 50%; }

.navegador {
  display: flex;
  flex-direction: row;
  list-style: none; }

.nav {
  display: flex;
  justify-content: end; }

.label {
  display: none !important; }

.respmenu input[type="checkbox"] {
  display: none; }

.respmenu .fa-bars {
  display: none; }

.respmenu .fa-times {
  display: none; }

li a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px; }

.foo {
  height: 25vh; }

footer {
  height: 100%; }

.pie {
  padding: 0 !important;
  margin: 0 !important; }

.carousel-item img {
  margin: 0;
  width: 50vw !important; }

.div__tabla {
  grid-area: tabla;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .div__tabla h1 {
    text-align: center;
    width: 50vw; }

.tabla {
  width: 70%; }

table {
  font-family: "Varela Round", sans-serif;
  font-size: 2vw;
  margin: 50px;
  background-color: #f4f4f493;
  padding: 25px;
  border-radius: 18px; }

td {
  border: #000000 3px solid;
  padding: 5px;
  text-align: center; }

.galeria img {
  padding: 2vw;
  width: 20vw !important;
  filter: grayscale(100); }
  .galeria img:hover {
    filter: none;
    transition: .5s; }

.galeria__grande img {
  width: 30vw !important; }

.nosotros__pie {
  height: 200px; }

.nos__div {
  font-size: 3vw;
  font-family: "Varela Round";
  border-radius: 18px;
  background-color: rgba(156, 156, 156, 0.712);
  border-radius: 18px;
  box-shadow: -10px 10px 18px rgba(0, 0, 0, 0.542);
  margin: 2vw;
  padding: 1vw; }

.torneo img {
  height: 30vw !important;
  border-radius: 50%;
  margin: 1vw; }

h2 {
  font-size: 2vw !important;
  padding: 0 1vw 0 1vw;
  margin: 2vw; }

form {
  font-size: 2em;
  background-color: #FF7315;
  margin-top: 0;
  display: inline-block;
  width: 30vw;
  position: relative;
  font-family: "Varela Round", sans-serif;
  border-radius: 18px;
  box-shadow: -10px 10px 18px rgba(0, 0, 0, 0.542);
  min-width: 300px; }

.form1 {
  text-align: right; }

.form2 {
  text-align: center; }

.enviar, .resetear {
  font-size: 2vw !important;
  font-family: "Varela Round", sans-serif;
  color: black !important;
  border-radius: 20px !important;
  border: 1px solid black !important;
  background-color: red !important;
  padding: 1vw !important;
  margin: 1vw;
  box-shadow: -10px 10px 18px rgba(0, 0, 0, 0.542); }

.resetear {
  background-color: #888888 !important; }

.bigicon {
  font-size: 35px !important;
  color: #36A0FF !important; }

.div__ofertas img:hover {
  transform: perspective(700px) scale(1.2);
  transform-origin: center center;
  transition: 1s; }

.oferta img {
  width: 30vw !important;
  padding: 2vw; }

.oferta p {
  color: #ffffff;
  padding: 5px;
  background-color: #FF7315;
  text-align: center;
  border-radius: 18px;
  font-family: "Varela Round", sans-serif;
  font-size: 3rem;
  -webkit-text-stroke: 1px #000000; }

.parrafo p {
  font-size: 2vw !important;
  margin: 10x !important; }

.parrafo h1 {
  font-size: 2vw;
  text-align: center; }

p img {
  margin-right: 4vw !important;
  float: left;
  margin: 5px; }
