form {
	font-size: 2em;
	background-color: $bg-color;
	margin-top: 0;
	display: inline-block;
	width: 30vw;
	position: relative;
	font-family: $font;
	border-radius: 18px;
	box-shadow: -10px 10px 18px rgba(0, 0, 0, 0.542);
	min-width: 300px;
}

.form1 {
	text-align: right;
}

.form2 {
	text-align: center;
}

.enviar {
	font-size: 2vw !important;
	font-family: $font;
	color: black !important;
	border-radius: 20px !important;
	border: 1px solid black !important;
	background-color: rgb(255, 0, 0) !important;
	padding: 1vw !important;
	margin: 1vw;
	box-shadow: -10px 10px 18px rgba(0, 0, 0, 0.542);

}

.resetear {
	@extend .enviar;
	background-color: rgb(136, 136, 136) !important;
}

.bigicon {
	font-size: 35px !important;
	color: #36A0FF !important;
}