li {
	a {
		text-decoration: none;
		font-size: 2rem;
		color: aliceblue;
		border-radius: 20%;
		font-family: $font;
		&:hover {
			color: black;
			background-color: $bg-color;
		}
	}
}

.logo {
	height: 50%;
}

.navegador {
	display: flex;
	flex-direction: row;
	list-style: none;
}
.nav {
	display: flex;
	justify-content: end;
}
.label {
	display: none !important;
}
.respmenu {
	input[type="checkbox"] {
		display: none;
	}
	.fa-bars {
		display: none;
	}
	.fa-times {
		display: none;
	}
}
li a{
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 5px;
}