@media screen and (max-width:768px) {
	.navegador {
		justify-content: center;
		align-items: center;
	}

	.nav {
		justify-content: center !important;

	}

	li {

		a {
			padding: 2vw !important;
			font-size: 2.5rem !important;
		}
	}

	.div__ofertas {
		flex-direction: column;
	}

	ul {
		display: flex !important;
		justify-content: center !important;
		align-items: center !important;
	}

	footer img {
		width: 15vw !important;
	}

	.navegador {
		display: flex;
		flex-direction: row;
		list-style: none;
	}

	.nav {
		display: flex;
		justify-content: end;
	}

	.tabla{
		font-size: 3vw;
	}

	.parrafo {
		#parrafo {
			font-size: 5vw !important;
			margin: 10x !important;
			text-align: center;
	
		}
		h1{
			font-size: 5vw !important;
			text-align: center;
		}
	
	}
	
	p img {
		width: 100%;
	}




}


@media screen and (max-width:578px) {

	h1,
	p,
	#h2 {
		font-size: 8vw !important;
		text-align: center;
	}

	#img {
		width: 100% !important;
		height: 100% !important;
	}

	iframe {
		width: 100% !important;
		height: 100% !important;
		padding-bottom: 5vw;
	}

	#producto{
		flex-direction: column;
		img{
			width: 100%!important;
		}
	}

	.tabla{
		font-size: 3.9vw;
	}

	#boton{
		font-size: 9vw !important;
	}

	.parrafo {
		#parrafo {
			font-size: 8vw !important;
			margin: 10px !important;
			text-align: center;
	
		}
		h1{
			font-size: 10vw !important;
			text-align: center;
		}
	
	}



}