@media screen and (max-width:768px) {
	.navegador {
		justify-content: center;
		align-items: center;
	}
	.nav {
		justify-content: center !important;
		
	}

	li {

		a {
			padding: 2vw !important;
			font-size: 2.5rem !important;
		}
	}
	
	.div__ofertas {
		flex-direction: column;
	}

	ul{
		display: flex !important;
		justify-content: center !important;
		align-items: center !important;
	}
	
	header img, footer img{
		width: 15vw !important;
	}
	.navegador {
		display: flex;
		flex-direction: row;
		list-style: none;
	}
	.nav {
		display: flex;
		justify-content: end;
	}

	
}