$bg-color:#FF7315;
$font: 'Varela Round', sans-serif;
$colores:(
    gris:rgba(156, 156, 156, 0.712),
    naranja:#FF7315,
    negro:#0000008f,
    amarillo: rgb(255, 220, 22),
    rojo:rgb(255, 0, 0)
);