<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="El mejor lugar para comprar, vender, gradear y comparar tu coleccion de cartas pokémon, tanto viejas como nuevas.">
  <meta name="keywords"
    content="POKÉMON,CARTAS,JUEGO,INTERCAMBIABLES,POKEMON,COLECCIÓN,COMPRA,VENTA,PRECIO,BOOSTER,TRAINERBOX,ELITEBOX">
  <title>Las mejores ofertas</title>
  <link rel="shortcut icon" href="../img/ico/icono.png">
  <link rel="stylesheet" href="../css/estilos.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>
  <div class="ofertas">


    <!-- ---------------------header------------------- -->


    <header>

      <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#opciones">
              <span class="navbar-toggler-icon"></span>
          </button>

          <!-- logo -->
          <a class="navbar-brand" href="../index.html">
              <img src="../img/logo m.png" width="30" height="30" alt="">
          </a>

          <!-- enlaces -->
          <div class="collapse navbar-collapse" id="opciones">
              <ul class="navbar-nav">
                  <li class="nav-item">
                      <a class="nav-link" href="../index.html">Inicio</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="quienesSomos.html">Nosotros</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="productos.html">Productos</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="ofertas.html">Ofertas</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="contacto.html">Contacto</a>
                  </li>
              </ul>
          </div>
      </nav>


  </header>


    <main class="container">
      <section class="d-flex flex-column justify-content-center align-items-center">
        <h1>Ofertas de la Semana:</h1>
        <div class="d-flex justify-content-center align-items-center div__ofertas">
          <div class="oferta d-flex flex-column justify-content-center align-items-center" id="producto">
            <a href="cajabooster1.html"><img src="../prod/caja1.png" alt="oferta"></a>
            <p class="precio1">$36999</p>
          </div>

          <div class="oferta d-flex flex-column justify-content-center align-items-center" id="producto">
            <a href="cajabooster2.html"><img src="../prod/caja.png" alt="oferta"></a>
            <p class="precio2">$37999</p>
          </div>
        </div>
        <div class="d-flex justify-content-center align-items-center div__ofertas">
          <div class="oferta d-flex flex-column justify-content-center align-items-center" id="producto">
            <a href="cajaelite1.html"><img src="../img/cajaelite1.png" alt="oferta"></a>
            <p class="precio1">$18999</p>
          </div>

          <div class="oferta d-flex flex-column justify-content-center align-items-center" id="producto">
            <a href="cajaelite2.html"><img src="../img/cajaelite2.png" alt="oferta"></a>
            <p class="precio2">$29999</p>
          </div>
        </div>
        <div class="d-flex justify-content-center align-items-center div__ofertas">
          <div class="oferta d-flex flex-column justify-content-center align-items-center" id="producto">
            <a href="cajaelite3.html"><img src="../img/cajaelite3.png" alt="oferta"></a>
            <p class="precio1">$26000</p>
          </div>

          <div class="oferta d-flex flex-column justify-content-center align-items-center" id="producto">
            <a href="cajaelite4.html"><img src="../img/cajaelite4.png" alt="oferta"></a>
            <p class="precio2">$62000</p>
          </div>
        </div>
      </section>

    </main>

    <!-- ---------------------footer------------------- -->

    <div class=" mt-5">

      <footer class="bg-dark text-center text-white">

        <div class="container p-4 pb-0">
          <!-- seccion redes -->
          <section>
            <!-- Facebook -->
            <a class="btn btn-floating m-1" href="https://www.facebook.com/PokemonOficialLatAm" role="button"
              target="_blank"><img src="../img/facebook(2).png" alt=""></a>

            <!-- Twitter -->
            <a class="btn btn-floating m-1" href="https://twitter.com/Pokemon" role="button" target="_blank"><img
                src="../img/gorjeo.png" alt=""></a>

            <!-- Logo -->
            <a class="btn btn-floating m-1" href="../index.html" role="button"><img src="../img/logo.png" alt="" target="_blank">
            </a>

            <!-- Instagram -->
            <a class="btn btn-floating m-1" href="https://www.instagram.com/pokemon/" role="button" target="_blank">
              <img src="../img/instagram(1).png" alt="">
            </a>

            <!-- Linkedin -->
            <a class="btn  btn-floating m-1" href="https://www.linkedin.com/in/leo-shura-b3854023a/" role="button"
              target="_blank"><img src="../img/linkedin.png" alt="" class="">
            </a>

            <!-- Github -->
            <a class="btn btn-floating m-1" href="https://github.com/LeandroHerreraAndres" role="button"
              target="_blank"><img src="../img/medios-de-comunicacion-social.png" alt=""></a>
          </section>
          <!-- seccion redes -->
        </div>
        <!-- Copyright -->
      </footer>

    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>

  </div>




  </div>


</body>

</html>