<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="El mejor lugar para comprar, vender, gradear y comparar tu coleccion de cartas pokémon, tanto viejas como nuevas.">
    <meta name="keywords"
        content="POKÉMON,CARTAS,JUEGO,INTERCAMBIABLES,POKEMON,COLECCIÓN,COMPRA,VENTA,PRECIO,BOOSTER,TRAINERBOX,ELITEBOX">
    <title>Productos en stock</title>
    <link rel="shortcut icon" href="../img/ico/icono.png">
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>


<body>

    <div class="prod">


        <!-- ---------------------header------------------- -->


        <header>

            <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#opciones">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- logo -->
                <a class="navbar-brand" href="../index.html">
                    <img src="../img/logo m.png" width="30" height="30" alt="">
                </a>

                <!-- enlaces -->
                <div class="collapse navbar-collapse" id="opciones">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="quienesSomos.html">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="productos.html">Productos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="ofertas.html">Ofertas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contacto.html">Contacto</a>
                        </li>
                    </ul>
                </div>
            </nav>


        </header>


        <main class="container">
            <section class="d-flex flex-column justify-content-center align-items-center">
                <h1>Fechas de Productos Sellados:</h1>
                <table class="tabla">
                    <tr>
                        <td>Productos</td>
                        <td>Preventa</td>
                        <td>Lanzamiento</td>
                        <td>En Tienda</td>
                    </tr>
                    <tr>
                        <td>Elite Box</td>
                        <td>19/02/2022</td>
                        <td>30/03/2022</td>
                        <td>02/04/2022</td>
                    </tr>
                    <tr>
                        <td>Booster Pack</td>
                        <td>19/02/2022</td>
                        <td>30/30/2022</td>
                        <td>06/04/2022</td>
                    </tr>
                    <tr>
                        <td>Singles Disponibles</td>
                        <td>19/02/2022</td>
                        <td>30/30/2022</td>
                        <td>17/04/2022</td>
                    </tr>
                    <tr>
                        <td>Mystery box</td>
                        <td>19/02/2022</td>
                        <td>30/30/2022</td>
                        <td>06/04/2022</td>
                    </tr>
                    <tr>
                        <td>Celebration Box</td>
                        <td>19/02/2022</td>
                        <td>30/30/2022</td>
                        <td>06/04/2022</td>
                    </tr>

                </table>
            </section>


            <section class="d-flex flex-column justify-content-center align-items-center galeria">
                <div class="d-flex justify-content-center align-items-center" id="producto">
                    <a href="https://articulo.mercadolibre.com.ar/MLA-1113474345-pokemon-booster-pack-celebrations-ingles-sellado-_JM#position=16&search_layout=stack&type=item&tracking_id=66dce8a2-0efc-4680-9efe-6e4f14495d20" target="_blank"><img src="../prod/boos1.jpg" alt="productos"></a>
                    <a href="https://articulo.mercadolibre.com.ar/MLA-1127773371-pokemon-sword-shield-brilliant-stars-booster-magic4ever-_JM#position=13&search_layout=stack&type=item&tracking_id=d29e4d3b-cddb-4cdb-af8b-8698988d4cd2" target="_blank"><img src="../prod/boos2.jpg" alt="productos"></a>
                    <a href="https://tiendamia.com/ar/producto?amz=B093XYGDZH&pName=Pokemon%20Official%20TCG&colon;%20Shining%20Fates%20Booster%20Pack" target="_blank"><img src="../prod/boos3.jpg" alt="productos"></a>
                </div>

                <div class="d-flex justify-content-center align-items-center" id="producto">
                    <a href="https://articulo.mercadolibre.com.ar/MLA-1106357913-pokemon-sword-shield-evolving-skies-booster-pack-magic4eve-_JM#position=9&search_layout=grid&type=item&tracking_id=9f9fed98-3bb3-40ee-80f0-210ce49923f1" target="_blank"><img src="../prod/boos4.jpg" alt="productos"></a>
                    <a href="https://articulo.mercadolibre.com.ar/MLA-1121487171-pokemon-tcg-boosters-varias-ediciones-disp-mejor-precio-_JM?searchVariation=174149178372#searchVariation=174149178372&position=7&search_layout=grid&type=item&tracking_id=9f9fed98-3bb3-40ee-80f0-210ce49923f1" target="_blank"><img src="../prod/boos5.jpg" alt="productos"></a>
                    <a href="https://articulo.mercadolibre.com.ar/MLA-1135369008-pokemon-tcg-fusion-strike-booster-pack-ingles-original-_JM#position=13&search_layout=grid&type=item&tracking_id=35c6e3de-cd83-4784-a7f0-3ccbc3614cde" target="_blank"><img src="../prod/boos6.jpg" alt="productos"></a>
                </div>

                <div class="d-flex justify-content-center align-items-center galeria__grande" id="producto">
                    <a href="https://articulo.mercadolibre.com.ar/MLA-1132842501-pokemon-tcg-brilliant-stars-elite-trainer-box-nueva-_JM#position=14&search_layout=stack&type=item&tracking_id=a6d92870-60a6-45fe-a981-905a35ce97c1" target="_blank"><img src="../prod/box1.png" alt="productos"></a>
                    <a href="https://articulo.mercadolibre.com.ar/MLA-1112057417-pokemon-tcg-fusion-strike-booster-box-x36-ingles-nueva-_JM#position=5&search_layout=grid&type=item&tracking_id=cb7e3850-0456-42df-a47e-40b65f3dd7b1" target="_blank"><img src="../prod/caja.png" alt="productos"></a>
                </div>
            </section>


        </main>


        <!-- ---------------------footer------------------- -->

        <div class=" mt-5">

            <footer class="bg-dark text-center text-white">

                <div class="container p-4 pb-0">
                    <!-- seccion redes -->
                    <section class="mb-4">
                        <!-- Facebook -->
                        <a class="btn btn-floating m-1" href="https://www.facebook.com/PokemonOficialLatAm"
                            role="button" target="_blank"><img src="../img/facebook(2).png" alt=""></a>

                        <!-- Twitter -->
                        <a class="btn btn-floating m-1" href="https://twitter.com/Pokemon" role="button"
                            target="_blank"><img src="../img/gorjeo.png" alt=""></a>

                        <!-- Logo -->
                        <a class="btn btn-floating m-1" href="../index.html" role="button"><img src="../img/logo.png" alt=""
                                target="_blank">
                        </a>

                        <!-- Instagram -->
                        <a class="btn btn-floating m-1" href="https://www.instagram.com/pokemon/" role="button"
                            target="_blank">
                            <img src="../img/instagram(1).png" alt="">
                        </a>

                        <!-- Linkedin -->
                        <a class="btn  btn-floating m-1" href="https://www.linkedin.com/in/leo-shura-b3854023a/"
                            role="button" target="_blank"><img src="../img/linkedin.png" alt="" class="">
                        </a>

                        <!-- Github -->
                        <a class="btn btn-floating m-1" href="https://github.com/LeandroHerreraAndres" role="button"
                            target="_blank"><img src="../img/medios-de-comunicacion-social.png" alt=""></a>
                    </section>
                    <!-- seccion redes -->
                </div>


                <!-- Copyright -->
                <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                    © 2020 Copyright:
                    <a class="text-white" href="#">Leandro Herrera</a>
                </div>
                <!-- Copyright -->
            </footer>

        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>




</body>

</html>