<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cards Store</title>
        <link rel="shortcut icon" href="../img/ico/icono.png">
        <link rel="stylesheet" href="../css/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet"> 
    </head>


    <body>

        <div class="prod">


            <header class="cabezera">
                <a href="index.html"><img src="../img/logo.png" alt="logo" class="head__logo"></a>
                <nav class= "nav__list">
                    <ul class="nav__list__ul">
                        <li><a href="../index.html">Inicio</a></li>
                        <li><a href="quienesSomos.html">Nosotros</a></li>
                        <li class="estado"><a href="productos.html">Productos</a></li>
                        <li><a href="ofertas.html">Ofertas</a></li>
                        <li><a href="contacto.html">Contacto</a></li>
                    </ul>
                </nav>

            </header>


            <main class="productos">
                <section class="div__tabla">
                    <h1>Fechas de Productos Sellados:</h1>
                    <table class="tabla">
                        <tr>
                            <td>Productos</td>
                            <td>Preventa</td>
                            <td>Lanzamiento</td>
                            <td>En Tienda</td>
                        </tr>
                        <tr>
                            <td>Elite Box</td>
                            <td>19/02/2022</td>
                            <td>30/03/2022</td>
                            <td>02/04/2022</td>
                        </tr>
                        <tr>
                            <td>Booster Pack</td>
                            <td>19/02/2022</td>
                            <td>30/30/2022</td>
                            <td>06/04/2022</td>
                        </tr>
                        <tr>
                            <td>Singles Disponibles</td>
                            <td>19/02/2022</td>
                            <td>30/30/2022</td>
                            <td>17/04/2022</td>
                        </tr>
                        <tr>
                            <td>Mystery box</td>
                            <td>19/02/2022</td>
                            <td>30/30/2022</td>
                            <td>06/04/2022</td>
                        </tr>
                        <tr>
                            <td>Celebration Box</td>
                            <td>19/02/2022</td>
                            <td>30/30/2022</td>
                            <td>06/04/2022</td>
                        </tr>
                        
                    </table>
                </section>   
                
                
                <section class="galeria" >
                    <div class="galeria__media">
                        <a href="#"><img src="../prod/boos1.jpg" alt="productos" height="200px"></a>
                        <a href="#"><img src="../prod/boos2.jpg" alt="productos" height="200px"></a>
                        <a href="#"><img src="../prod/boos3.jpg" alt="productos" height="200px"></a>
                    </div>
                   
                    <div class="galeria__media">
                        <a href="#"><img src="../prod/boos4.jpg" alt="productos" height="200px"></a>
                        <a href="#"><img src="../prod/boos5.jpg" alt="productos" height="200px"></a>
                        <a href="#"><img src="../prod/boos6.jpg" alt="productos" height="200px"></a>
                    </div>
                    
                    <div class="galeria__media">
                        <a href="#"><img src="../prod/box1.png" alt="productos" height="200px"></a>
                        <a href="#"><img src="../prod/caja.png" alt="productos" height="200px"></a>
                    </div>
                </section>

                
            </main>


            <footer class="navBackground">
                <div class="footer__div">
                    <img src="../img/logo.png" alt="logo">
                    <div class="pie">
                        <a href="">Colavora</a>
                        <a href="">Aviso de Privacidad</a>
                        <p>© 1999-2022</p>
                        <p>TODOS LOS DERECHOS RESERVADOS</p>
                    </div>
                </div>
            </footer>
        </div>


    
    </body>
</html>